APP_ENV=development
TTS_PROVIDER=deepgram
TTS_API_KEY=
TTS_REGION=
TTS_VOICE=es-ES-ElviraNeural
TTS_LANGUAGE=es-ES
DEEPGRAM_API_KEY=2b3e9e26bf0b3f237542e6c573b6daaa2d5756f1
DEEPGRAM_BASE_URL=https://api.eu.deepgram.com
DEEPGRAM_MODEL=aura-2-nestor-es
MAX_UPLOAD_SIZE_MB=200
PREVIEW_CHARACTERS=5000
